@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Geologica&family=Jacquard+12+Charted&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital@1&family=Oswald&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
 
  font-family: "Zain", sans-serif;
}

.button-group a {
  text-decoration: none; 
}

.bg-soft-black {
  background-color: #161616; 
}

header {
  font-size: 20px;
  display: flex;
  align-items: center; 
  background: linear-gradient(90deg, #000000, #363636);
  width: 100%;
  height: 60px; 
  position: relative;
  box-shadow: 
  1px 1px 2px rgba(238, 202, 125, 0.5),
  0px 0px 5px rgba(238, 202, 125, 0.3),  
  0px 0px 10px rgba(238, 202, 125, 0.2); 
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header ul li {
  margin: 0 10px; 
  color: rgb(252, 206, 0);
  cursor: pointer;
}

header ul li:hover {
  color: rgb(247, 171, 56);
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 34px;
  color: rgb(83, 81, 81);
}

p {
  font-size: 23px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5),
    1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
}

.proyectos {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: antiquewhite;
}

.contenedor {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 10px; 
}

.mainText {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: 0; 
    padding: 0; 
    text-decoration: overline rgb(255, 217, 0);
  }

.bienvenida {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    font-size: 30px;
    color: rgb(209, 207, 207);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), 
                 -1px -1px 0 rgba(0, 0, 0, 0.5),
                 1px -1px 0 rgba(0, 0, 0, 0.5), 
                 -1px 1px 0 rgba(0, 0, 0, 0.5);
    margin: 0; 
    padding: 0; 
    
  }

.bienvenida h1 {
    color: rgb(170, 170, 170);
    margin: 0; 
    padding: 0;
    
  }

footer {
    text-align: center; 
    padding: 100px 0px 0px 0px;
    bottom: 100%; 
    width: 100%; 
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Transition */
.hover-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hover-overlay:hover .card-img-top {
  transform: scale(1.1);
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(231, 198, 9);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), -1px -1px 0 rgba(0, 0, 0, 0.5),
    1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.hover-overlay:hover .overlay-content {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.foto-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; 
}

html, body {
  height: 100%;
  margin: 0;
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

/* About me*/
.foto-about-container {
  display: flex;
  align-items: center; 
  margin-left: 15%; 
  padding: 100px 0px 0px 0px; 
}

.fotocv {
  display: flex;
  flex-direction: row; 
}

.fotocv img {
  width: 60%; 
  height: auto; 
  border-radius: 10%;
  box-shadow: 2px 2px 2px rgba(238, 202, 125, 0.5);
}

.about-text {
  flex: 1; 
  margin-right: 15%;
}

.about-text p {
  font-size: 22px; 
  color: rgb(209, 207, 207); 
}

.email-icon {
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .menu-toggle {
      display: block;
  }

  .nav-menu {
      display: none; 
      position: absolute;
      top: 60px; 
      left: 0;
      width: 100%;
      background-color: #161616;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-menu ul {
      flex-direction: column;
      padding: 10px 0;
  }

  .nav-menu ul li {
      margin: 10px 0;
      text-align: center;
  }

  .nav-menu.active {
      display: block;
  }

  .header-logo {
      text-align: center; 
  }


  h1 {
    font-size: 24px; 
  }

  p {
    font-size: 18px; 
  }

  .proyectos {
    flex-direction: column; 
  }

  .contenedor {
    height: auto; 
  }

  .button-group {
    flex-direction: column; 
  }

  .mainText {
    flex-direction: column; 
    margin-left: 75px;
  }

  .bienvenida {
    flex-direction: column; 
    font-size: 18px; 
    margin-left: 20%;
  }

  .bienvenida h1 {
    font-size: 20px; 
  }

  footer {
    padding: 50px 0; 
  }

  .card-img-top {
    height: auto;
  }

  .hover-overlay {
    height: auto;
  }

  .foto-info-container {
    flex-direction: column; 
    gap: 10px;
  }

  .container-about {
    flex-direction: column; 
    height: auto;
  }

  .foto-about-container {
    flex-direction: column; 
    margin: 0; 
    padding: 50px 0;
  }

  .fotocv img {
    width: 80%; 
    margin-left: 9%;
    margin-bottom: 10%;
  }

  .about-text {
    text-align: center; 
    padding: 0 10px; 
    margin-left: 60px;
  }

  .about-text p {
    font-size: 16px;
  }

  .email-icon {
    width: 20px; 
    height: 20px; 
    margin-left: 5px;
  }
}

.header-logo {
  margin-left: 10px;
  margin-right: auto;
}

.header-logo img {
  height: 40px; 
  display: block;
}

